# Hello Python

In [6]:
print('Hello Python!!')

Hello Python!!

# 計算

In [7]:
a = 3
b = 5
a + b

8

# CSVデータの取込

In [8]:
import pandas as pd
data = pd.read_csv('helloPython.csv')
data

   ID              name
0   1            Python
1   2  Jupyter Notebook
2   3          Anaconda